#search {
    background-image: url('/assets/house.jpg');
    /* min-height: 200px; */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

#header {
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#search-area h1 {
    color: white;
    font-family: serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 1.5rem;
}

#searching {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    padding: 2px;
    background-color: white;
}

#searchBar {
    height: 20px;
    padding: 1rem;
    margin: 0px;
    border: none;
}

#searchButton {
    /* height: 20px;
    padding: 1rem;
    margin: 0px; */
    font-size: 1.2rem;
    background-color: white;
    border: none;
}

#searchButton:hover {
    background-color: rgb(235, 230, 230);
}

